
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f7ff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: #4a6cf7;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #4a6cf7;
}


.hero {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #4a6cf7, #6a82fb);
    color: white;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text span {
    color: #ffd166;
}

.hero-text p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.primary {
    background: white;
    color: #4a6cf7;
}

.primary:hover {
    background: #ffd166;
    color: #333;
}


.secondary {
    border: 2px solid white;
    color: white;
}

.secondary:hover {
    background: white;
    color: #4a6cf7;
}


footer {
    text-align: center;
    padding: 15px;
    background: white;
    font-size: 14px;
}


@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 15px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .buttons {
        flex-direction: column;
    }
}

